/* General Styles */
body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.about-us {
  padding: 80px 0;
  position: relative; /* For absolute positioning of heading */
}

.title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); /* Center the heading horizontally */
  text-align: center; /* Center the text */
  width: 100%; /* Ensure full width for proper centering */
  margin-bottom: 30px; /* Space below the heading */
}

.title h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 10px;
}

.title p {
  font-size: 18px;
  color: #888;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  max-width: 1000px;
  margin: 0 auto;
}

.content-section {
  max-width: 600px;
}

.content h2 {
  font-size: 24px;
  margin-top: 20px;
  color: #333;
}

.content p {
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 20px;
  color: #555;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}

li {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #555;
}


.page-heading {
  font-size: 2.5rem; /* Larger font size for the main heading */
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}

.image-section {
  margin-top: 30px; /* Add some space above the image section */
}

.image-section img {
  width: 800px;
  border-radius: 10px;
  height: 400px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 20px;
  }

  .image-section img {
    margin-top: 40px;
    max-width: 100%;
  }
}
